.containerVN{
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.tracoDiv{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;
    width: 100%;
    height: 2vh;
}

.tracoDiv p{
    font-family: ArgentumRegular;
    font-size: 2vh;
}

.traco{
    height: 1px;
    width: 3vw;
}

.tittleViagem{
    font-family: ArgentumBlack;
    font-size: 6vh;
    letter-spacing: 0.73px;
    line-height: 1.2;
}

.textViagem{
    font-family: ArgentumLight;
    font-size: 3vh;
}

.buttonViagem{
    font-family: ArgentumRegular;
    background-color: transparent;
    width: 35%;
    height: 13%;
    border-radius: 50px;
    font-size: 2.3vh;
} 

@media (max-width: 1000px){
    .containerVN{
        padding: 3%;
    }

    .tittleViagem{
        font-size: 5vh;
    }

    .textViagem{
        font-size: 2.3vh;
    }
    
    .buttonViagem{
        width: 35%;
        height: 15%;
        font-size: 2vh;
    } 
}